yt-button-shape[is-paper-button],
.yt-spec-button-shape-next--filled {
	border-radius: 24px !important;
	background-color: var(--md-sys-color-primary) !important;
	color: var(--md-sys-color-on-primary) !important;
	text-transform: none !important;
	font-weight: 500 !important;
	letter-spacing: 0.1px !important;
}
.yt-spec-button-shape-next--outline {
	border-color: var(--md-sys-color-surface-variant) !important;
	color: var(--md-sys-color-primary) !important;
	border-radius: 24px !important;
}
