ytmusic-nav-bar {
	background-color: var(--md-sys-color-surface-container) !important;
	border-bottom: 1px solid var(--md-sys-color-surface-variant);
	box-shadow: none !important;
}

ytmusic-logo.ytmusic-nav-bar {
	display: block !important;
	width: 160px !important;
	height: 32px !important;
	content: url("https://raw.githubusercontent.com/MoonMonet/YTMTheme/main/.github/_assets/full-logo.svg") !important;
	padding-left: 16px !important;
}