ytmusic-nav-bar > div.center-content, 
.center-content.ytmusic-nav-bar {
	display: flex !important;
	justify-content: center !important;
}
ytmusic-search-box {
	margin: 0 auto !important;
	background: transparent !important;
}
ytmusic-search-box div.search-box {
	border-radius: 28px !important;
	background-color: var(--md-sys-color-surface-container-high) !important;
	border: 1px solid transparent !important;
	transition: background-color 0.2s, border-color 0.2s !important;
}
ytmusic-search-box[has-query] div.search-box, 
ytmusic-search-box[opened] div.search-box {
	background-color: var(--md-sys-color-surface-container-highest) !important;
	border: 1px solid var(--md-sys-color-primary) !important;
}
ytmusic-search-box input.ytmusic-search-box {
	color: var(--md-sys-color-on-surface) !important;
}

/* search dropdown */
ytmusic-search-box #suggestion-list {
	background-color: var(--md-sys-color-surface-container-high) !important;
	border-radius: 24px !important;
	box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.4) !important;
	padding: 8px !important;
	margin-top: 12px !important;
	box-sizing: border-box !important;
	border: 1px solid var(--md-sys-color-surface-variant) !important;
}
ytmusic-search-suggestion {
	border-radius: 20px !important;
	margin: 0 !important;
	transition: background-color 0.2s ease !important;
	color: var(--md-sys-color-on-surface) !important;
	background: transparent !important;
}
ytmusic-search-suggestion:hover,
ytmusic-search-suggestion[selected],
ytmusic-search-suggestion:focus-within {
	background-color: var(--md-sys-color-secondary-container) !important;
	color: var(--md-sys-color-on-secondary-container) !important;
}
ytmusic-search-suggestion .icon.ytmusic-search-suggestion {
	fill: var(--md-sys-color-primary) !important;
}
ytmusic-search-box[is-bauhaus-sidenav-enabled][opened], 
ytmusic-search-box[is-bauhaus-sidenav-enabled][has-query] {
	--ytmusic-search-background: var(--md-sys-color-surface-container-high) !important;
}
