.selection-bar.tp-yt-paper-tabs,
#selectionBar.tp-yt-paper-tabs {
	border-bottom: none !important;
	background-color: var(--md-sys-color-primary) !important;
	height: 3.5px !important;
	border-radius: 99px 99px 0 0 !important;
}
tp-yt-paper-tabs, paper-tabs {
	--paper-tabs-selection-bar-color: var(--md-sys-color-primary) !important;
}
